.form {
  width: 700px;
  background:
radial-gradient(circle farthest-side at 0% 50%,rgba(39,108,240,0.5) 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,rgba(130,36,219,0.6) 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(rgba(39,108,240,0.5) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,rgba(39,108,240,0.5) 0)0 0,
linear-gradient(150deg,rgba(39,108,240,0.5) 24%,rgba(130,36,219,0.6) 0,rgba(130,36,219,0.6) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(130,36,219,0.6) 0,rgba(130,36,219,0.6) 76%,rgba(39,108,240,0.5) 0)0 0,
linear-gradient(30deg,rgba(39,108,240,0.5) 24%,rgba(130,36,219,0.6) 0,rgba(130,36,219,0.6) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(130,36,219,0.6) 0,rgba(130,36,219,0.6) 76%,rgba(39,108,240,0.5) 0)0 0,
linear-gradient(90deg,rgba(130,36,219,0.6) 2%,rgba(39,108,240,0.5) 0,rgba(39,108,240,0.5) 98%,rgba(130,36,219,0.6) 0%)0 0 rgba(39,108,240,0.5);
background-size: 40px 60px;

}

button{
  cursor: pointer;
}